<h1>Results for : <em><%= term %></em></h1>

<ul>
    <% data.Search.forEach(function(movie) { %>
        <li>
            <a target="_blank" href="http://www.imdb.com/title/<%= movie.imdbID %>">
            '<%= movie.Title %>'</a> 
            (<%= movie.Year %>)
        </li>
    <% }); %>
</ul>

<p><a href="/">Back</a></p>